<h1>Découverte des directives d'attributs</h1>
<a appConfirm href="https://twitter.com">twitter</a>
<a appNoOpen href="https://twitter.com">twitter</a>
<p appHighlight bg-color="green" deflault-color="#03D5AF">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero, vitae in
  maxime laborum mollitia quam, facilis reiciendis amet reprehenderit animi!
  Libero aspernatur quo sit reprehenderit cum optio repellat minus.
</p>
<p appHighlight>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero, vitae in
  maxime laborum mollitia quam, facilis reiciendis amet reprehenderit animi!
  Libero aspernatur quo sit reprehenderit cum optio repellat minus.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vero, vitae in
  maxime laborum mollitia quam, facilis reiciendis amet reprehenderit animi!
  Libero aspernatur quo sit reprehenderit cum optio repellat minus.
</p>
